@import "moudel/style";
@import "moudel/header";
@import "moudel/footer";
.breadcrumb{
	width: 100%;
	height: 25px;
	padding: 0 15px;
	box-sizing: border-box;
	ul{
		display: flex;
		a{
			color: #7c878e;
			font-size: 14px;
		}
		&>li{
			height: 25px;
			padding-right:15px;
			background: url("../img/xiaoyu2.png") no-repeat center center;
		}
	}
}
.productDetails{
	width: 100%;
	height:400px;
	.productDetails-wrap{
		width: 97.7%;
		height:400px;
		margin:15px;
		display: flex;
		.productDetails-content-img{
			width: 49%;
			height: 400px;
			img{
				vertical-align: top;
				margin-left:217px; 
			}
		}
		.productDetails-conttnt-info{
			width: 49%;
			height: 400px;
			padding: 0 0 0 30px;
			.productDetails-conttnt-info-img{
				width: 190px;
				height: 55px;
				img{
					width: 100%;
					height: 100%;
					vertical-align: top;
				}
			}
			h1{
				width: 500px;
				height: 35px;
				margin-bottom: 10px;
				color: #7c878e;
				font-size: 32px;
				font-weight: normal;
			}
			.productDetails--product--price{
				width: 500px;
				height: 32px;
				color: #7c878e;
				font-weight: 700;
				font-size: 16px;
				margin: 25px 0 20px;
			}
			.productDetails--product--select{
				width: 260px;
				height: 39px;
				display: flex;
				justify-content: space-between;
				.select--specification{
					cursor: pointer;
					width: 180px;
					// position: absolute;
					// opacity: 0;
					height: 39px;
					font-size: 12px;
					background-color: #fff;
					border: 1px solid #e5e5e5;
				}
				.select--num{
					width: 68px;
					height: 40px;
					display: flex;
					.spinner--box{
						width: 48px;
						height: 38px;
						border: 1px solid #e5e5e5;
						input{
							width: 48px;
							height:39px;
							outline: none;
							border: none;
						}
					}
				}
					.spinner--arrow{
						flex: 1;
						border: 1px solid #e5e5e5;
						display: flex;
						flex-direction: column;
						.topArrow{
							width: 100%;
							height: 50%;
							border-bottom: 1px solid #e5e5e5;
							background:url(../img/xiaoyu_up.jpg) no-repeat center center;
						}
						.bottomArrow{
							width: 100%;
							height: 50%;
							background: url(../img/xiaoyu_down1.jpg) no-repeat center center;
						}
					}	
			}
			.productDetails--product--button{
				width: 374px;
				height: 39px;
				margin: 25px 0;
				
				display: flex;
				justify-content: space-between;
				button{
					width: 180px;
					height: 39px;
					background-color: #fff;
					line-height: 39px;
					text-align: center;
					// border: none;
					outline: none;
				}
				.button1{
					background-color:#7c878e;
				}
				.button2{
					background-color: #418fde;
				}
			}
			
		}
	}
}
.recommend--carousel{
	width: 100%;
	height: 483px;
	box-sizing: border-box;
	padding-bottom: 60px;
	h1{
		text-align: center;
		font-size: 45px;
		letter-spacing: 10px;
		margin-bottom: 60px;
		margin-top: 60px;
		font-family: inherit;
		font-weight: 500;
		line-height: 1.1;
		color: #7c878e;
	}
	.swiper-container{
		width: 96.7%;
		height: 314px;
		margin: 0 auto;
		display: flex;
		dl{
			width: 312.5px;
			height: 314px;
			background-color: #fff;
			display: flex;
		flex-direction: column;
			dt{
				width: 100%;
				height: 250px;
				img{
					display: block;
					width: 250px;
					height: 250px;
					margin: 0 auto;
				}
			}
			dd{
				flex: 1;
				p{
					width: 100%;
					height: 50%;
					text-align: center;
					color: #7c878e;
					font-size: 16px;
				}
				.recommend--product--price{
					font-family: Arial;
					font-size: 16px;
					font-weight: 700;
				}
			}
		}
	}
}
.productDetails--pdp{
	width: 100%;
	height: 370px;
	.productDetails--pdp-wrap{
		width: 96.7%;
		height:360px;
		margin: 10px auto;
		display: flex;
		flex-direction: column;
		.nav{
			height: 41px;
			display: flex;
			li{
				width: 128px;
				height: 41px;
				text-align: center;
				line-height: 41px;
				border: 1px solid #e5e5e5;
				font-size: 14px;
				color: #7c878e;
				&:first-child{
					background-color: #b0b7bb;
					color: #fff;
				}
			}
		}
		.instocter{
			position: relative;
			.tab-pane{
				flex: 1;
				box-sizing: border-box;
				position: absolute;
				z-index: 1;
				.tab-pane-wrap{
					width: 1190px;
					height: 230px;
					margin: 25px;
					.title{
						width: 85px;
						height: 24px;
						background-color: #fff;
						img{
							display: block;
							width: 100%;
							height: 100%;
						}
					}
					.container{
						p{
							margin: 10px;
							font-family: "Helvetica Neue", Helvetica, Arial, "hyzj", "SimHei", "SimSun", sans-serif;
							font-size: 14px;
							color: #7c878e;
						}
					}
				}
			}
			.productDetails--product--usage{
				position: absolute;
				flex: 1;
				box-sizing: border-box;
				.product--usage{
					width: 1190px;
					height: 230px;
					margin: 25px;
					.title{
						width: 85px;
						height: 24px;
						background-color: #fff;
						img{
							display: block;
							width: 100%;
							height: 100%;
						}
					}
					.container{
						p{
							margin: 10px;
							font-family: "Helvetica Neue", Helvetica, Arial, "hyzj", "SimHei", "SimSun", sans-serif;
							font-size: 14px;
							color: #7c878e;
						}
					}
				}
				
			}
		}

	}
}